$font-family-base: $font-family-monospace;
body {
  padding-top: $navbar-height + 10;
  background: $body-bg;
}

.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

h2 {
  margin-top: 10px;
}

.row.tall {
  min-height: 50px;
}

.credit {
  margin: 20px 0;
}

footer>p {
  padding-left: 15px;
  padding-right: 15px;
}

.white {
  color: #FFF;
}

.white:hover {
  color: #FFF;
}

// Middle align for rows
.table>tbody>tr>td {
  vertical-align: middle;
}

a:hover {
  text-decoration: none;
}

.mmodal {
  position: fixed;
  z-index: 100;
  top: 0px;
}

.modal-dialog {
  width: 400px;
}

.li-200 {
  width: 200px;
}

.big {
  font-size: 25px
}

.btn {
  font-size: 12px;
}

.save-button {
  margin-left: 10px;
}

.progress {
  margin-bottom: 10px;
}

.table-manage > tbody > tr > td {
  padding: 2px 8px;
}