<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"]</title>
    <base href='/' />
<link href="/css/jsc-06c934949be8b090e646.css" rel="stylesheet"></head>

<body>
    <header>
    </header>
    <nav id='menu' class='navbar navbar-fixed-top'></nav>
    <main>
        <div id='body-content' class='container body-content'>
            @RenderBody()
        </div>
    </main>
    <footer>
        <p class='text-muted credit'>&copy; 2018 - C&eacute;dric ROCHEFOLLE</p>
    </footer>

    @RenderSection("Scripts", required: false)
<script type="text/javascript" src="/js/manifest-10cf8954a7673042cf23.js"></script><script type="text/javascript" src="/js/vendor-ee13ddd12ca27e58779f.js"></script><script type="text/javascript" src="/js/jsc-c7c45f77c1c23f9ec372.js"></script><script type="text/javascript" src="/css/jsc-06c934949be8b090e646.css"></script></body>

</html>