nav {
	text-align: center;
}

.navbar {
	min-height: $navbar-height !important;
}

nav .container {
	background: $navbar-background-color;
	box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.3);
}

.navbar-nav>li>a,
.navbar-brand {
	padding-top: 4px !important;
	padding-bottom: 0 !important;
	height: $navbar-height;
}

ul {
	text-align: left;
	display: inline;
	margin: 0;
	padding: 0;
}

nav ul ul {
	display: none;
	margin: 0;
}

nav ul li:hover>ul {
	display: block;
}

nav ul {
	background: $navbar-background-color;
	list-style: none;
	position: relative;
	display: inline-table;
}

nav ul:after {
	content: "";
	clear: both;
	display: block;
}

nav ul li {
	float: left;
}

nav ul li:hover {
	background: $navbar-ul-background-color;
}

nav ul li:hover a {
	color: #fff;
}

nav ul li a {
	color: #fff;
	display: block;
	padding: $navbar-h-padding $navbar-v-padding;
}

nav ul ul {
	background: $navbar-ul-background-color;
	border-radius: 0px;
	padding: 0;
	position: absolute;
	top: 100%;
}

nav ul ul li {
	border-bottom: 1px solid #575F6A;
	border-top: 1px solid #6B727C;
	float: none;
	min-width: 100px;
	position: relative;
}

nav ul ul li a {
	padding: $navbar-h-padding $navbar-v-padding;
	color: #fff;
	text-align: left;
}

nav ul ul li a:hover,
nav ul li a:hover {
	background: $navbar-hover-color;
}

nav ul ul ul {
	position: absolute;
	left: 100%;
	top: 0;
}