$font-family-base: $font-family-monospace;

body {
  padding-top: $navbar-height + 10;
  background: $body-bg;
}

.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

.row.tall {
  min-height: 50px;
}

.credit {
  margin: 20px 0;
}

footer>p {
  padding-left: 15px;
  padding-right: 15px;
}

.white {
  color: #FFF;
}

.white:hover {
  color: #FFF;
}

// Middle align for rows
.table>tbody>tr>td {
  vertical-align: middle;
}

a:hover {
  text-decoration: none;
}

.mmodal {
  position: fixed;
  z-index: 100;
}