$brand-primary: #3F51B5;
$body-bg: #FFF;
$brand-bg: #303F9F;
$text-color: #555;
$navbar-bg: darken($brand-bg, 10%);
$navbar-default-color: $body-bg;
$navbar-default-hover-color: $navbar-default-color;
$navbar-default-link-color: $navbar-default-color;
$navbar-default-link-active-color: $navbar-default-color;
$dropdown-link-color: $navbar-default-color;
$dropdown-link-hover-color: $navbar-default-color;
$nav-link-hover-bg: darken($navbar-bg, 10%);
$dropdown-bg: $nav-link-hover-bg;
$dropdown-link-hover-bg: darken($dropdown-bg, 10%);
$navbar-height: 28px;