@model app.web.Models.Page

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/css/jsc.css" />
    <base href="/" />
</head>
<body>
    <header>
    </header>
    <nav id="menu" data-menu='@Html.Raw(Json.Serialize(Model.Menu))'></nav>
    <main>
        <div class="container body-content">
            @RenderBody()

        </div>
    </main>
    <footer>
        <p class="text-muted credit">&copy; 2017 - C&eacute;dric ROCHEFOLLE</p>
    </footer>

    <script src="~/js/manifest.js"></script>
    <script src="~/js/vendor.js"></script>
    <script src="~/js/jsc.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
